/* Main page layout */
.page {
    position: relative;
    min-height: 100vh;
    margin-left: 250px;
    width: calc(100% - 250px);
    background: var(--body-color);
    overflow-y: scroll;
    /* Allow vertical scroll */
    overflow-x: hidden;
    /* Hide horizontal scroll */
    scrollbar-width: none;
    /* Firefox - hide scrollbar */
    -ms-overflow-style: none;
    /* IE/Edge - hide scrollbar */
    transition: var(--tran-05);
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, etc.) */
.page::-webkit-scrollbar {
    display: none;
}

/* Text inside page */
.page .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
    transition: var(--tran-05);
}

/* When sidebar is closed */
.sidebar.close~.page {
    margin-left: 88px;
    width: calc(100% - 88px);
    transition: var(--tran-05);
}