@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
:root{
  /*=== Colors ==== */
  --body-color:linear-gradient(90deg, #BCF7C7, #A7D4EF);
  --sidebar-color: #FFF;
  --primary-color: #04456d;
  --primary-color-light: #d1eeff;
  --toggle-color:#DDD;
  --text-color:#243A52;
  --bg-color-1:#BCF7C7;
  --bg-color-2: #A7D4EF;
  --card-bg-color:#f5fbfdde;
  --box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  /*=== Transition ==== */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body{
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

body.dark{
    --body-color: #18191A;
    --sidebar-color: #252526;
    --primary-color: #3A383C;
    --primary-color-light: #3A383C;
    --toggle-color: #FFF;
    --text-color: #CCC;
    --bg-color-1: #BCF7C7;
    --bg-color-2: #A7D4EF;
    --card-bg-color: #252526de;
    --box-shadow: 0 10px 30px rgba(239, 239, 239, 0.414);
    color: #CCC;;
}


.bg-image-small {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
  top: 100px;
  left: -240px;
  width: 500px;
  height: 500px;
  z-index: 0;
  opacity: 0.8;
  pointer-events: none;
  /* Makes sure it's not clickable */
}
